
@font-face {
  font-family: 'Sailec-Bold';
  src: url('Sailec-Bold.eot?#iefix') format('embedded-opentype'),  url('Sailec-Bold.woff') format('woff'), url('Sailec-Bold.ttf')  format('truetype'), url('Sailec-Bold.svg#Sailec-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
