@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Medium.woff2') format('woff2'),
        url('GothamPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

