@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Black.woff2') format('woff2'),
        url('GothamPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

