
@font-face {
  font-family: 'Sailec-Medium';
  src: url('Sailec-Medium.eot?#iefix') format('embedded-opentype'),  url('Sailec-Medium.woff') format('woff'), url('Sailec-Medium.ttf')  format('truetype'), url('Sailec-Medium.svg#Sailec-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
